.header-main {
    margin: 0px 0px;
    background-color: #eee;
    height: 80px;
    font-size: 15px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 999999999;
    justify-content: space-between;



}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}
.cart-icon{
    position: relative;
    width: 30px;



}
.cart-logo{
    font-size: 25px;
    cursor: pointer;
}
.cart-logo:active{
    transform: scale(0.9);
    position: relative;
}
.cart-count{
    background-color: red;
    color: white;
    padding: 2px;
    width: 20px;
    height: 20px;
    display:flex;
   
    justify-content:center;
    border-radius: 50%;
    position: absolute;
top: 0;
margin-top: -15px;
right: 0;



    
}


.logo span {
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
    letter-spacing: 1px;
    font-style: italic;
    border-bottom: 3px solid red;



}

.logo img {
    width: 50px;
    margin-left: 10px;

}

.header-rightside {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 20px;

}
.header-rightside .login-img {
    width: 50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header-rightside .link {
    text-decoration: none;
    
    color: #000;

}

.menu {
    position: absolute;
    right: 30px;
    top: 20px;
    display: none;
    background-color: #eee;
    z-index: 9999;
}

.link {
    border-bottom: 2px solid transparent;
    transition: 0.3s;

}

.link:hover {
    border-bottom: 2px solid indigo;
}


@media(max-width:720px) {


    .header-rightside {
        width: 0;
        opacity: 0;
    }

    .menu {
        display: block;
    
    }
    
    

    .header-rightside.show {
        flex-direction: column;
        background-color: #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        width: 130px;
        position: absolute;
        border-bottom: 3px solid red;
        border-radius: 10px;
        right: 30px;
        top: 70px;
        gap: 15px;
        transition: 0.3s;
        align-items: center;
        padding: 10px 0;
        opacity: 1;

    }


}

.login-img {
    width: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 15px;

}
.login-img:active{
    transform: scale(0.9);
}

.Item {
    position: relative;
    font-size: 12px;

    background-color: rgba(128, 128, 128, 0.596);
    margin-left: -80px;

}