.app-main{
  background-color: #eee;
}
.home-wraper{
  display: flex;
  padding:0 0 0 60px;
  justify-content: space-between;
}


.flex{
  display: flex;
  gap: 30px;

}

h1,h2,h3,h4,h6,p{
  margin: 0;
  padding: 0;
}
.model-main{
  position: absolute;
  margin-top: 20px;
  top: 100px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
  height: 80vh;
  right: 0;
  z-index:9999999;
  width: 300px;
}


@media(max-width:768px){

  .home-wraper{
    flex-direction: column;
  }
}

